## **변수를 출력하는 다양한 방법**

#### **예제 1 : 변수 포맷 이용**

- 변수 포멧을 사용하여 문자열에 변수 값을 삽입한다.
- `%s` : 문자열
- `%c` : 문자
- `%d` : 정수
- `%f` : 실수

In [ ]:
# 예제 1 : 변수 포맷 이용

x = 10
print("x is %d" % x)

y = "code"
print("y is %s" % y)

print("x is %d and y is %s" % (x, y))

#### 예제 1 해설
> `%d`에 `x` 변수값을 정수 형태로 삽입한다.  
> 
> `%s`에 `y` 변수 값을 문자열 형태로 삽입한다. 정수형 포맷인 `%d`로 변환하면 'code' 문자열을 정수형으로 변환할 수 없기 때문에 에러가 발생한다.

#### **예제 2 : format 함수 이용**

- `format` 함수를 이용하면 변수의 타입을 명시하지 않아도 된다.
- 순서 또는 변수 이름을 통해 원하는 변수를 포멧에 맞춰 넣어줄 수 있다.

In [ ]:
# 예제 2 : format 함수 이용

x, y = 10, "code"

print("x is {0}" .format(x))
print("x is {new_x}" .format(new_x=x))

print("\n")

print("x is {0} and y is {1}" .format(x, y))
print("x is {new_x} and y is {new_y}" .format(new_x=x, new_y=y))
print("y is {1} and x is {0}" .format(x, y))
print("y is {new_y} and x is {new_x}" .format(new_x=x, new_y=y))

#print("x is {x}" .format(x))  # 오류

#### 예제 2 해설
> `format` 함수 안의 변수값이 문자열의 `{}`안에 대입된다.
>
> 대입되는 순서를 숫자로 정하거나 변수이름을 사용한다.
>
> 숫자로 순서를 정할 때 0부터 시작한다.

#### **예제 3 : f 문자열 포멧 이용 (사용 권장)**

- 문자열 앞에 `f`를 붙이면, 중괄호와 변수 이름만으로 문자열에 원하는 변수를 삽입할 수 있다.

In [ ]:
# 예제 3 : f 문자열 포멧 이용 (사용 권장)

x, y = 10, "code"

print(f"x is {x}")
print(f"y is {y}")
print(f"x is {x} and y is {y}")

#### **예제 4 : 실수형 변수를 소수점 맞춰 출력**

- `.4f` == 소수 4째 자리까지 반올림 출력

In [ ]:
# 예제 4-1 : 변수 포멧 (%d, %s, ...) 이용

x = 3.141592653
print("%.4f" % x)

In [ ]:
# 예제 4-2 : format 함수 이용

x = 3.141592653
print("{0:.4f}" .format(x))

In [ ]:
# 예제 4-3 : f 문자열 포멧 이용

x = 3.141592653
print(f"{x:.4f}")

## **변수 값 바꾸기**

#### **예제 5 : 변수 값 변경 및 복사**

- 변수에 새 값을 대입하면, 기존 값은 사라지고 새로 대입한 값만 남는다.- 
변수에 다른 변수를 대입하면, 기존에 있던 값은 사라지고 대입한 변수의 값이 복사된다.

In [ ]:
# 예제 5 : 변수 값 변경 및 복사

a, b = 1, 2

a = b
print(a)

a = 5
print(a)

#### **예제 6 : 두 변수 값 교환**

- [방법 1] `temp` 이용

In [ ]:
# 예제 6-1 : 두 변수 값 교환, temp 이용

a, b = 1, 2

temp = b
b = a
a = temp

print(f"a = {a}, b = {b}")

- [방법 2] `,` 이용하여 바로 교환

In [ ]:
# 예제 6-2 : 두 변수 값 교환

a, b = 1, 2

a, b = b, a

print(f"a = {a}, b = {b}")

(참고) 파이썬만 `temp` 없이 `a,b = b,a` 교환할 수 있는 이유는 python만 tuple 자료형이 존재하고, 그 tuple이 unpacking을 지원하기 때문이다.

#### **참고 : Unpacking**

- 언패킹(Unpacking)이란 여러 개의 데이터가 패킹된 것을 풀어서 각각의 다른 변수에 저장하는 것이다.

In [ ]:
# 예제 : unpacking

arr = [1, 2]
tup = (1, 2)

a, b = arr
print(a, b)

a, b = tup
print(a, b)

- 다음과 같이 언패킹을 활용할 수 있다.

In [ ]:
# 예제 : 언패킹 활용

a, b = 3, (5, 6, 7, 4, 6)

a, (b1, b2, b3, b4, b5) = 3, (5, 6, 7, 4, 6)
b1, b2, b3, b4, b5 = b

print(b1, b2, b3, b4, b5)

#### **예제 7 : 변수값 동시에 복사**

- `=`을 연쇄적으로 사용하면, 한 변수의 값을 여러 변수에 복사할 수 있다.

In [ ]:
# 예제 7 : 변수값 동시에 복사

a, b, c = 1, 2, 3

a = b = c

print(f"a = {a}, b = {b}, c = {c}")